{% extends 'base.html' %}


{% block content %}
<h2 class="text-center">Welcome to the page {% if user %} {{user}} {% else %} <p>random user</p> {% endif %}</h3>
    <h2>{{ user.get_full_name }}</h2>
<ul>
  <li>Username: {{ user.username }}</li>
  <li>Location: {{ user.profile.location }}</li>
  <li>Birth Date: {{ user.profile.birth_date }}</li>
</ul>

<form action="/your-name/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
{% endblock content %}