{% extends '../base.html' %}
 {% load static %}


{% block styles %}
{{ block.super }}

<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock styles %}


{% block content %}
<h3>signi in </h3>
<div class="text-center">
<main class="form-signin">
  <form method="POST">
    <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
        {% csrf_token %}
        {{ form.as_p }}
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>
</main>
</div>


{% endblock %}


